$color-action:#ff3e79;
$color-border:#eaeaea;
$color-decorative:#41f6d7;
$color-text-primary:#1b1c21;
$color-bg:#f8f8f8;
$color-text-secondary:#7e7e82;
$indent: 16px;
$big-indent:24px;
$border-radius:6px;
 