.button-group {
    display: flex;
    column-gap: 16px;
}

.menu {
    flex-basis: 88px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    @media screen and (min-width:1439px) {
        display: none;
    }
    &__divider {
        border-left: 1px solid #eaeaea;
    height:32px;
    }
    &__desktop {
        @media screen and (max-width:425px) {
            display:none;
        }
    }
    &__mobile {
        @media screen and (min-width:767px) {
            display:none;
        }
    }
}

.menu__inner {
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.menu__inner--right {
    margin-left: auto;
}




.menu-button {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: $color-action;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 0;
}


.burger {
    svg {
        width: 18px;
        height: 16px;
        fill: #fff;
    }
}

