@import './normalize.scss';
@import './vars.scss';
@import './mixins.scss';
@import './fonts.scss';
@import './menu.scss';
@import './text.scss';
@import './main.scss';

@import './burger-menu.scss';

*{
    box-sizing: border-box;
}
.container {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

.wrapper {
    padding-left: $indent;
    padding-right: $indent;
    width: 100%;
    @media screen and (min-width:1439px) {
        padding-left:$indent*2;
        padding-right:$indent*2;
    }
}

.main {
    flex-grow: 1;
}




.hidden-320 {
    display: none;
}

