body {
    font-family: 'TT Lakes';
    color: $color-text-primary;
}

.text-primary {
font-size: 14px;    
line-height: 18px;
letter-spacing: 0.2px;
margin-bottom: 0px;
}

.text-hidden {
    margin-top:0;
    text-overflow: ellipsis;
    overflow-y: hidden;
    max-height: 90px;
    word-break: break-word;
    white-space: pre-wrap;
    @media screen and (min-width:767px) {
      max-height: 160px;
    }
}
.h1 {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    margin:0;   
}
.item {
    @include decorativeItem (40px, 16px);
}
